<footer class="footer-base">
  <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:px-8">
    <nav class="-mx-5 -my-2 flex flex-wrap justify-center mb-8" aria-label="Footer">
      <div class="px-5 py-2">
        <a href="/" class="footer-link">
          Home / Trips
        </a>
      </div>
      <div class="px-5 py-2">
        <a href="/my-work" class="footer-link">
          My Work
        </a>
      </div>
      <div class="px-5 py-2">
        <a href="/about" class="footer-link">
          About
        </a>
      </div>
      <div class="px-5 py-2">
        <a href="/contact" class="footer-link">
          Contact
        </a>
      </div>
    </nav>
    <div class="mt-8 md:mt-0">
      <p class="text-center text-base text-text-muted">
        &copy; 2025 Emma. All rights reserved.
      </p>
    </div>
  </div>
</footer>